/*-------------------------------------------------------------

	MASTER STYLESHEET

    Project:        Test task "Infographic Elements"
    Version:        1.0
    Author:         Anton Shaposhnikov
    Website:        https://666hesoyam.github.io/portfolio/

--------------------------------------------------------------*/
/* line 18, ../sass/main.scss */
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 20, ../sass/main.scss */
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), color-stop(40%, #e6e8e7), color-stop(65%, #e7e7e7), to(#e6e6e6));
  background: linear-gradient(90deg, #e6e6e6 0%, #e6e8e7 40%, #e7e7e7 65%, #e6e6e6 100%); }

/* line 33, ../sass/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none; }

/* line 40, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #4E4E4E; }

/* line 46, ../sass/main.scss */
p {
  color: #ccc; }

/* all section */
/* line 55, ../sass/main.scss */
.main, .footer {
  max-width: 1220px;
  height: auto;
  margin: 0 auto; }

/* container */
/* line 62, ../sass/main.scss */
.container {
  width: 95%;
  margin: 0 auto; }

/* line 71, ../sass/main.scss */
.main__inner {
  padding-top: 13px; }

/* line 74, ../sass/main.scss */
.main-title {
  font-size: 56px;
  max-width: 30%;
  text-transform: uppercase; }
  /* line 78, ../sass/main.scss */
  .main-title span {
    color: #0DB0AF; }

/* line 83, ../sass/main.scss */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 87, ../sass/main.scss */
.nav__left-column, .nav__right-column {
  max-width: 40%;
  padding: 30px 0; }

/* line 92, ../sass/main.scss */
.nav__left-column {
  -webkit-box-shadow: 30px 3px 21px -37px rgba(0, 0, 0, 0.75);
  box-shadow: 30px 3px 21px -37px rgba(0, 0, 0, 0.75);
  margin-right: 125px; }
  /* line 97, ../sass/main.scss */
  .nav__left-column .nav-item__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  /* line 101, ../sass/main.scss */
  .nav__left-column .nav-item__text {
    margin: 0 0 0 auto; }

/* line 106, ../sass/main.scss */
.nav__right-column {
  -webkit-box-shadow: -30px 3px 21px -37px rgba(0, 0, 0, 0.75);
  box-shadow: -30px 3px 21px -37px rgba(0, 0, 0, 0.75);
  margin-left: 125px; }

/* line 116, ../sass/main.scss */
.nav-item {
  position: relative;
  background-color: #fff;
  padding: 45px 25px;
  margin-top: 40px;
  -webkit-box-shadow: -1px 45px 47px -59px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 45px 47px -59px rgba(0, 0, 0, 0.75); }
  /* line 124, ../sass/main.scss */
  .nav-item_orange {
    margin-top: 150px; }
  /* line 127, ../sass/main.scss */
  .nav-item_light-blue {
    margin-bottom: 40px; }
  /* line 130, ../sass/main.scss */
  .nav-item__title {
    text-transform: uppercase;
    display: inline-block; }
  /* line 134, ../sass/main.scss */
  .nav-item .title_orange, .nav-item .footer__title {
    color: #F79136;
    margin-left: 5px; }
  /* line 138, ../sass/main.scss */
  .nav-item .title_light-blue {
    color: #28C4B9;
    margin-left: 5px; }
  /* line 142, ../sass/main.scss */
  .nav-item .title_red {
    color: #E64957; }
  /* line 145, ../sass/main.scss */
  .nav-item .title_blue {
    color: #135F90; }

/* line 153, ../sass/main.scss */
.arrow {
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0; }
  /* line 159, ../sass/main.scss */
  .arrow_left {
    right: -40%; }
  /* line 162, ../sass/main.scss */
  .arrow_right {
    left: -40%; }

/* line 167, ../sass/main.scss */
.arrow__item {
  width: 100%;
  height: 100%; }

/* line 173, ../sass/main.scss */
.arrow__item_orange {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F78F30), color-stop(50%, #EA7D2B));
  background: linear-gradient(to bottom, #F78F30 50%, #EA7D2B 50%);
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%); }

/* line 178, ../sass/main.scss */
.arrow__item_light-blue {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #26BFCD), color-stop(50%, #0DB0AF));
  background: linear-gradient(to bottom, #26BFCD 50%, #0DB0AF 50%);
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%); }

/* line 184, ../sass/main.scss */
.arrow__item_red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #EF4756), color-stop(50%, #DC4357));
  background: linear-gradient(to bottom, #EF4756 50%, #DC4357 50%);
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%); }

/* line 189, ../sass/main.scss */
.arrow__item_blue {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #125F8D), color-stop(50%, #0E5771));
  background: linear-gradient(to bottom, #125F8D 50%, #0E5771 50%);
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%); }

/* line 200, ../sass/main.scss */
.icon-search {
  color: #fff;
  position: absolute;
  top: 39%;
  right: 30%;
  width: 35px;
  height: 35px;
  border: solid 5px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  /* line 211, ../sass/main.scss */
  .icon-search:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 10px;
    height: 19px;
    width: 6px;
    border-radius: 3px;
    background-color: currentColor; }

/* line 224, ../sass/main.scss */
.icon-dollar {
  position: absolute;
  top: 37%;
  left: 25%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff; }
  /* line 232, ../sass/main.scss */
  .icon-dollar:before {
    content: '$';
    position: absolute;
    color: #F17B24;
    top: 20%;
    left: 34%;
    font-size: 27px;
    font-weight: 700;
    border-radius: 3px; }

/* line 245, ../sass/main.scss */
.icon-profile {
  color: #fff;
  position: absolute;
  top: 47%;
  right: 30%;
  width: 37px;
  height: 15px;
  border: solid 5px currentColor;
  background-color: currentColor;
  border-radius: 11px 11px 0 0; }
  /* line 255, ../sass/main.scss */
  .icon-profile:before {
    content: '';
    position: absolute;
    left: 2px;
    top: -20px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: solid 3px #125F8D;
    background-color: #fff; }

/* line 269, ../sass/main.scss */
.icon-graph {
  color: #fff;
  position: absolute;
  top: 41%;
  left: 25%;
  width: 35px;
  height: 30px;
  border-right: solid 9px currentColor;
  border-left: solid 9px transparent; }
  /* line 278, ../sass/main.scss */
  .icon-graph:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 3px;
    width: 29px;
    height: 23px;
    border-right: solid 5px transparent;
    border-left: solid 9px currentColor; }
  /* line 288, ../sass/main.scss */
  .icon-graph:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 14px;
    width: 9px;
    height: 18px;
    border-right: solid 5px transparent;
    border-left: solid 9px currentColor; }

/* line 301, ../sass/main.scss */
.nav-item:hover .icon_hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: linear .2s all;
  transition: linear .2s all; }

/* line 306, ../sass/main.scss */
.nav-item:hover .icon-search {
  -webkit-transform: rotate(-45deg) scale(1.1);
          transform: rotate(-45deg) scale(1.1); }

/* line 313, ../sass/main.scss */
.footer {
  margin-top: 50px;
  margin-bottom: 80px; }
  /* line 316, ../sass/main.scss */
  .footer .container {
    width: 100%; }
  /* line 319, ../sass/main.scss */
  .footer__inner {
    background-color: #fff;
    padding: 45px 25px;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.75); }
  /* line 326, ../sass/main.scss */
  .footer .title_orange {
    color: #F79136; }

/* 1200px - 1020px */
@media screen and (max-width: 1200px) {
  /* line 338, ../sass/main.scss */
  .nav-item_orange {
    margin-top: 156px; } }
/* 1020px - 890px */
@media screen and (max-width: 1020px) {
  /* line 345, ../sass/main.scss */
  .nav-item_orange {
    margin-top: 165px; }

  /* line 348, ../sass/main.scss */
  .nav__left-column {
    margin-right: 115px; }

  /* line 351, ../sass/main.scss */
  .nav__right-column {
    margin-left: 115px; } }
/* 890px - 845px */
@media screen and (max-width: 890px) {
  /* line 358, ../sass/main.scss */
  .nav__left-column {
    margin-right: 95px; }

  /* line 361, ../sass/main.scss */
  .nav__right-column {
    margin-left: 95px; } }
/* 845px - 430px */
@media screen and (max-width: 845px) {
  /* line 368, ../sass/main.scss */
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  /* line 372, ../sass/main.scss */
  .nav__left-column, .nav__right-column {
    max-width: 80%;
    padding: 0 0; }

  /* line 376, ../sass/main.scss */
  .nav__left-column {
    margin-right: 0;
    -webkit-box-shadow: -30px -20px 21px -37px rgba(0, 0, 0, 0.75);
            box-shadow: -30px -20px 21px -37px rgba(0, 0, 0, 0.75); }

  /* line 380, ../sass/main.scss */
  .nav__right-column {
    margin-left: 0;
    -webkit-box-shadow: 30px 3px 21px -37px rgba(0, 0, 0, 0.75);
            box-shadow: 30px 3px 21px -37px rgba(0, 0, 0, 0.75); }

  /* line 384, ../sass/main.scss */
  .nav__left-column .nav-item__text {
    margin: 0 0 0 auto;
    width: 58%; }

  /* line 388, ../sass/main.scss */
  .nav__right-column .nav-item__text {
    margin: 0 auto 0 0;
    width: 58%; }

  /* line 392, ../sass/main.scss */
  .red {
    margin-top: 0; }

  /* line 395, ../sass/main.scss */
  .nav-item_orange {
    margin-top: 0;
    margin-bottom: 0; }

  /* line 399, ../sass/main.scss */
  .arrow_left {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: 60%;
    top: 0px; }

  /* line 404, ../sass/main.scss */
  .arrow_right {
    left: 60%; } }
/* 430px - 320px */
@media screen and (max-width: 430px) {
  /* line 411, ../sass/main.scss */
  .main-title {
    font-size: 45px; }

  /* line 414, ../sass/main.scss */
  .nav__left-column, .nav__right-column {
    max-width: 98%; }

  /* line 417, ../sass/main.scss */
  .arrow {
    height: 70%;
    top: 15%; } }

/*# sourceMappingURL=main.css.map */